body {
  font-family: arial;
  padding: 10px;
}

#Navagate {
  background-color: #e0e0eb;
}

.navagate_links {
  margin-bottom: 10px;
}

#header-icon {
  margin-top: 5px;
  margin-left: 0px;
  margin-right: 0px;
}

#blog_writing {
  margin: 20px;
}

#example1 {
  width: 100%;
}


#Find_me {
  float: left;
    max-width: 160px;
    margin: 0;
    padding: 1em;
}

#Social_links {
  list-style-type: none;
}

#Social_about {
  margin-left: 170px;
    border-left: 1px solid gray;
    padding: 1em;
    overflow: hidden;
    width: auto;
}

img{
  width: 100%;
  margin 0px;
}

header {
  background-color: ;
}

.blog_posts{
  background-color: lightgrey;
  height: 200px;
  overflow: auto;
}
